@charset "utf-8";

html{
	height:100%;
}

body{
	margin:0px;
	height:100%;
}


a{
	text-decoration: none;
}

.container{
	width:100%;
	height:100%;
	background-color:black;
	
	display:flex;
	flex-direction:row;
	
}

.left_sub{
	width:20%;
	height:100%;
	background-color:black;
}

.right_sub{
	width:80%;
	height:100%;
	background-image: url("backgroundpc.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.right_main{
	background-color: white;
	width:88.5%;
	height:59%;
	margin: 4.7% 5.8%;
}

.menu_container{
	width:100%;
	height:100%;
}




.menu_container >div:nth-child(-n+3){
	width:100%;
	height:10%;
	transition:opacity 1s 0s,1s 0s;
}

.menu_container >div:nth-child(n+4){
	width:60%;
	height:10%;
	transition:opacity 1s 0s,1s 0s;
	margin:0 0 0 auto;
}

.menu_container>div:hover{
	color:white;
	opacity: 50%;
}


/*:::::::::::::::menu_parameter::::::::::::::::::*/
.menu{
	background-color:gray;
	display: flex;
	height: 100%;
	align-items: center;
}

.menu a{
	height:100%;
	width:100%;
	color:white;
	text-align:center;
}

.menu2{
	background-color:orange;
	display: flex;
	height: 100%;
	align-items: center;
}

.menu2 a{
	height:100%;
	width:100%;
	color:white;
	text-align:center;
}

.menu3{
	background-color: dodgerblue;
	display: flex;
	height: 100%;
	align-items: center;
}

.menu3 a{
	height:100%;
	width:100%;
	color:white;
	text-align:center;
}

.menu4{
	background-color: goldenrod;
	display: flex;
	height: 100%;
	align-items: center;
}

.menu4 a{
	height:100%;
	width:100%;
	color:white;
	text-align:center;
}

.menu5{
	background-color: limegreen;
	display: flex;
	height: 100%;
	align-items: center;
}

.menu5 a{
	height:100%;
	width:100%;
	color:white;
	text-align:center;
}

.menu6{
	background-color: orangered;
	display: flex;
	height: 100%;
	align-items: center;
}

.menu6 a{
	height:100%;
	width:100%;
	color:white;
	text-align:center;
}

.menu7{
	background-color:white;
	display: flex;
	height: 100%;
	align-items: center;
}

.menu7 a{
	height:100%;
	width:100%;
	color:black;
	text-align:center;
}

.menu8{
	background-color: orange;
	display: flex;
	height: 100%;
	align-items: center;
}

.menu8 a{
	height:100%;
	width:100%;
	color:white;
	text-align:center;
}



/*::::::::::::::menu_parameter_end::::::::::::::::::*/


.slideshow {
	position: relative;
	overflow: hidden;
	height: 100%;
}
input[name="slideshow"] {
	display: none;
}

/* :::::: slideContents :::::: */
.slideContents {
	position: relative;
	background: lightSeaGreen;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
	transition: transform .6s;
}
.slideContents section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateX(100%);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.slideContents section img {
	max-width: 100%;
	padding: 0 50px;
	box-sizing: border-box;
	vertical-align: middle;
}

/* :::::: arrows :::::: */
.arrow,
.arrow label,
.arrow .ico {
	position: absolute;
}
.arrow {
	top: 0;
	margin: 0;
	transition: background .3s;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}
.arrow:hover {
	background: rgba(255,255,255,.2);
}
.arrow,
.arrow label {
	cursor: pointer;
	width: 50px;
	height: 100%;
}
.arrow label {
	top: 0;
	left: 0;
	z-index: 1;
}
.arrow .ico {
	top: calc(50% - 6px);
	width: 12px;
	height: 12px;
	border-top: 3px solid #fff;
	opacity: 0;
}
.prev .ico {
	left: 50%;
	border-left: 3px solid #fff;
	transform: rotate(-45deg);
	transition: left .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.next .ico {
	right: 50%;
	border-right: 3px solid #fff;
	transform: rotate(45deg);
	transition: right .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.arrow:hover .ico {
	opacity: .6;
}
.prev:hover .ico {
	left: calc(50% - 6px);
}
.next:hover .ico {
	right: calc(50% - 6px);
}

/* :::::: mechanism :::::: */
#switch1:checked ~ .slideContents #slide1,
#switch2:checked ~ .slideContents #slide2,
#switch3:checked ~ .slideContents #slide3,
#switch4:checked ~ .slideContents #slide4,
#switch5:checked ~ .slideContents #slide5 {
	position: relative;
	transform: none;
}
#switch1:checked ~ .slideContents #slide5,
#switch1:checked ~ .slideContents #slide4,
#switch2:checked ~ .slideContents #slide1,
#switch2:checked ~ .slideContents #slide5,
#switch3:checked ~ .slideContents #slide2,
#switch3:checked ~ .slideContents #slide1,
#switch4:checked ~ .slideContents #slide3,
#switch4:checked ~ .slideContents #slide2,
#switch5:checked ~ .slideContents #slide4,
#switch5:checked ~ .slideContents #slide3 {
	transform: translateX(-100%);
}
#switch1:checked ~ .slideContents #slide3,
#switch1:checked ~ .slideContents #slide4,
#switch2:checked ~ .slideContents #slide4,
#switch2:checked ~ .slideContents #slide5,
#switch3:checked ~ .slideContents #slide5,
#switch3:checked ~ .slideContents #slide1,
#switch4:checked ~ .slideContents #slide1,
#switch4:checked ~ .slideContents #slide2,
#switch5:checked ~ .slideContents #slide2,
#switch5:checked ~ .slideContents #slide3 {
	transition-duration: 0s;
}

/* :::::: arrow mechanism :::::: */
.arrow label {
	pointer-events: none;
}
#switch1:checked ~ .prev label[for="switch5"],
#switch2:checked ~ .prev label[for="switch1"],
#switch3:checked ~ .prev label[for="switch2"],
#switch4:checked ~ .prev label[for="switch3"],
#switch5:checked ~ .prev label[for="switch4"],
#switch1:checked ~ .next label[for="switch2"],
#switch2:checked ~ .next label[for="switch3"],
#switch3:checked ~ .next label[for="switch4"],
#switch4:checked ~ .next label[for="switch5"],
#switch5:checked ~ .next label[for="switch1"] {
	pointer-events: auto;
}
