@charset "utf-8";




html{
	height:100%;
}

body{
	margin:0px;
	height:100%;
}


a{
	text-decoration: none;
}

.container{
	width:100%;
	height:100%;
	background-color:black;
	
	display:flex;
	flex-direction:row;
	
}

.left_sub{
	width:20%;
	height:100%;
	background-color:black;
}

.right_sub{
	width:80%;
	height:100%;
	background-color: white;
}

.right_main{
	background-color: white;
	width:88.5%;
	height:59%;
	margin: 4.7% 5.8%;
}

.menu_container{
	width:100%;
	height:100%;
}




.menu_container >div{


	width:100%;
	height:10%;
	transition:opacity 1s 0s,1s 0s;
}

.menu_container>div:hover{
	color:white;
	opacity: 50%;
}

.menu{
	background-color:orange;
	display: flex;
	height: 100%;
	align-items: center;
}

.menu a{
	height:100%;
	width:100%;
	color:white;
	text-align:center;
}

.menu2{
	background-color:gray;
	display: flex;
	height: 100%;
	align-items: center;
}

.menu2 a{
	height:100%;
	width:100%;
	color:white;
	text-align:center;
}


@keyframes fadeIn {
    0% {
		opacity:0;
    }
    100% {
		opacity:1;
    }
}

@keyframes btn-in {
    0% {
		opacity:0;
    }
    100% {
		opacity:1;
    }
}

.welcome-text{
	display: flex;
	justify-content: center;
	padding-top: 10%;
	font-size: 40px;
	animation-name: fadeIn;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	width: 100%;
}

.btn{
	display: flex;
	justify-content: center;
	width: 100%;
	animation-name: btn-in;
	animation-duration: 8s;
}

.btn1{
	margin-right: 10px;
	transform: scale(0.8);
}

.btn1:hover{
	margin-right: 10px;
	transform: scale(1.0);
}

.btn2{
	margin-left: 10px;
	transform: scale(0.8);
}

.btn2:hover{
	margin-left: 10px;
	transform: scale(1.0);
}